<div class = "center jumbotron-home">
  <h1> EASY TASK </h1>


<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-danger btn-large btn-xlarge" %>
<div class = "col-xs-3 col-xs-offset-2"></div>
<%= link_to "Sign in", new_user_session_path, class: "btn btn-danger btn-large btn-xlarge" %>
    </div>
</div>

